-import fink.support.TemplateHelper._
-import fink.support.DateHelper._
-import fink.data._

-attributes("classes") = "archive date layout-2cr"

-@ val posts : List[Post]

header.page-header
  h1.page-title
    | Monthly Archives:
    span September 2008

-for (post <- posts)
  -attributes("post") = post
  =include("snippet.post.jade")
