-@ val page : fink.data.Page

-attributes("classes") = "page page-template-default layout-2cr"

.content-wrap.clearfix
  article.page.type-page.status-publish.hentry
    header.entry-header
      h1.entry-title= page.title

    .entry-content
      :!markdown
        #{page.text}
