-import fink.support.TemplateHelper._
-import fink.support.DateHelper._

-@ val post: fink.data.Post

.content-wrap
  article.post.type-post.status-publish.format-standard.hentry
    div
      header.entry-header
        h1.entry-title
          a(rel="bookmark" title={"Permalink to %s".format(post.title)} href={postUri(post)})= post.title
        .entry-meta
          a(rel="bookmark" title={formatDate(post.date, "hh:mm a")} href={postUri(post)})
            time.entry-date(pubdate="" datetime={formatDate(post.date)})= formatDate(post.date)

      - if (post.text.length > 200)
        .entry-summary
          p
            = post.text.take(200)
            | …
            a(href={postUri(post)})
              | Continue reading
              span.meta-nav →
      - else
        .entry-summary
          :!markdown
            #{post.text}

      footer.entry-meta
        span.entry-utility-prep.entry-utility-prep-cat-links Posted in
        - if (post.tags.size > 0)
          - for (tag <- post.tags)
            a(rel="category tag" title={"View all posts in " + tag.name} href={uri("/category/" + tag.name)})= tag.name
        - else
          a(rel="category tag" title="View all posts in Uncategorized" href={uri("/category/uncategorized/")}) Uncategorized

