<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>fink</display-name>

	<description>fink</description>

	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>org.noorg.fink.admin.web.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/fink-admin/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/fink-admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Frontend</servlet-name>
		<servlet-class>org.noorg.fink.admin.web.Frontend</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Frontend</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/images/*</url-pattern>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/js/*</url-pattern>
		<url-pattern>/uploads/*</url-pattern>
		<url-pattern>/assets/*</url-pattern>
		<url-pattern>/themes/*</url-pattern>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-config.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>