
div.container
	section
		div.row
			div.span8.columns.offset4
				div.page-header
					h1 Sign in
				form.form-stacked#login
					fieldset
						div.clearfix
							label(for="") Username
							div.input
								input.xlarge(value="#{username}" type="text" size="30" name="username")
						div.clearfix
							label(for="") Password
							div.input
								input.xlarge(type="password" size="30" name="password")
						button.btn(type="submit") Login

