<div class="row first album-details">
  <div class="span12">

    <div class="tabbable">
      <div id="album-details" title="Details" class="tab-pane active">
        <div class="row-fluid well">
          <div class="span6">
            <h2>Details</h2>

            <form name="myForm">
              <div>Title:<br /><input type="text" class="input-xlarge" ng-model="gallery.title" required></div>
              <div>Author:<br /><input type="text" ng-model="gallery.author"></div>
              <div>Shortlink:<br /><input type="text" ng-model="gallery.shortlink"></div>
              <div>Tags:<br /><tag-list class="foo" tags="gallery.tags" /></div>
              <div>Text:<br /><textarea ng-model="gallery.text"></textarea></div>
              <button class="btn" ng-click="save()" ng-disabled="isClean() || myForm.$invalid">Create</button>
              <button class="btn" ng-click="cancel()">Cancel</button>
            </form>

            <input type="hidden" id="gallery-id" value="{{gallery.id}}" />
          </div>
          <div class="span4">
            <h2>Cover</h2>

            <div class="cover">
              <img bootstrap-modal-open="setCoverDialog" alt="" title="" src="{{cover}}" popover="" rel="popover" data-content="Click to change the cover." data-original-title="" data-placement="bottom" />
            </div>

            <bootstrap-modal modal-id="setCoverDialog">
                <div class="modal-header">
                    <button class="close">x</button>
                    <h3>Select a cover</h3>
                </div>
                <div class="modal-body">
                    <div class="gallery-covers">
                      <a ng-click="setCover(image)" ng-repeat="image in gallery.images">
                        <img src="{{fink_base}}/admin/uploads/images/{{image.hash}}/thumb/{{image.filename}}" alt="{{image.title}}">
                      </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" onclick="return false;" class="btn btn-primary close">Close</a>
                </div>
            </bootstrap-modal>           
          </div>
        </div>
      </div>

      <div id="album-images" title="Images" class="tab-pane">
        <div ng-hide="imageEditing">
          <div class="upload-box">
            <input id="file_upload" type="file" id="file-upload">
            <div id="status-message"></div>
            <div id="custom-queue" class="uploadifyQueue"></div>
          </div>

          <div class="images" id="albums-images">
            <div class="image" id="image-{{image.id}}" ng-mouseenter="enterImage(image)" ng-mouseleave="leaveImage(image)" ng-repeat="image in gallery.images">
              <div class="controls">
                <span>{{image.title}}</span>
                <a ng-click="editImage(image)"><i class="pencil"></i></a>
                <a ng-click="removeImage(image)"><i class="trash"></i></a>
              </div>
              <div>
                <img src="{{fink_base}}/admin/uploads/images/{{image.hash}}/medium/{{image.filename}}" alt="{{image.title}}">
              </div>
            </div>
          </div>
        </div>

        <div ng-show="imageEditing">
          <div>Title:<br /><input type="text" class="input-xlarge" ng-model="image.title" required></div>

          <a class="btn" ng-click="finishEditing()">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>