
<div class="row-fluid first album-details">
  <div class="span12">
    <h3>Details</h3>

    <form class="well" name="myForm">
    <div>Title:<br /><input type="text" class="input-xlarge" ng-model="gallery.title" required></div>
    <div>Author:<br /><input type="text" ng-model="gallery.author"></div>
    <div>Shortlink:<br /><input type="text" ng-model="gallery.shortlink"></div>
    <div>Tags:<br /><tag-list tags="gallery.tags" /></div>
    <div>Text:<br /><textarea ng-model="gallery.text"></textarea></div>

    <button class="btn" ng-click="save()" ng-disabled="isClean() || myForm.$invalid">Create</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
    </form>

    <input type="hidden" id="gallery-id" value="{{gallery.id}}" />
  </div>
</div>
