
<div class="row-fluid first album-details">
  <div class="span12">

    <div class="tabbable">
      <div id="album-details" title="Details" class="tab-pane active">
        <form class="well" name="myForm">
        <div>Title:<br /><input type="text" class="input-xlarge" ng-model="gallery.title" required></div>
        <div>Author:<br /><input type="text" ng-model="gallery.author"></div>
        <div>Shortlink:<br /><input type="text" ng-model="gallery.shortlink"></div>
        <div>Tags:<br /><tag-list class="foo" tags="gallery.tags" /></div>
        <div>Text:<br /><textarea ng-model="gallery.text"></textarea></div>

        <button class="btn" ng-click="save()" ng-disabled="isClean() || myForm.$invalid">Create</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
        </form>

        <input type="hidden" id="gallery-id" value="{{gallery.id}}" />
      </div>

      <div id="album-images" title="Images" class="tab-pane">
        <div class="upload-box">
          <input id="file_upload" type="file" id="file-upload">
          <div id="status-message"></div>
          <div id="custom-queue" class="uploadifyQueue"></div>
        </div>

        <div class="images" id="albums-images">
          <div class="image" id="image-{{image.id}}" ng-mouseenter="enterImage(image)" ng-mouseleave="leaveImage(image)" ng-repeat="image in gallery.images">
            <div class="controls">
              <a ng-click="removeImage(image)">delete</a>
            </div>
            <div><img src="/uploads/{{image.hash}}-medium.jpg" alt="{{image.title}}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>