
<div class="row-fluid first">
  <div class="span12">
    <a class="btn" href="#/galleries/create">create gallery</a>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <table class="table galleries table-bordered">
      <tr>
        <th>Name</th><th class="actions">Actions</th>
      </tr>
      <tr ng-repeat="gallery in galleries" class="item">
        <td>{{gallery.title}}</td><td><a class="btn" ng-click="delete(gallery.id)">delete</a> <a class="btn" href="#/galleries/edit/{{gallery.id}}">edit</a></td>
      </tr>
    </table>
   </div>
</div>