
<div class="well">

  <div class="row-fluid">
    <div class="span12">
      <h3>Details</h3>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <div>
        Title:<br />
        <input type="text" ng-model="post.title" required>
      </div>
    </div>
    <div class="span3">
      <div>
        Category:<br />
        <select ng-model="selectedCategory" ng-options="c.id as c.name for c in categories"></select>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div>
        Author:<br />
        <input type="text" ng-model="post.author">
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div>Tags: <tag-manager ng-model="tagNames" /></div>
    </div>
    <div class="span2">
      <div style="float: right; margin-top: 20px" class="btn-toolbar">
        <button class="btn" ng-click="save()" ng-disabled="isClean()">Save</button>
        <button class="btn" ng-click="cancel()">Cancel</button>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div>
        Text: <br />
        <text-editor mode="markdown" ng-model="post.text" width="100%" height="300px" />
      </div>
    </div>
  </div>

</form>
