
<div class="well">

  <div class="row-fluid">
    <div class="span6">
      <h1>Settings</h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      Title:<br />
      <input type="text" ng-model="settings.title" required>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div>
        Description:<br />
        <input type="text" ng-model="settings.description" required>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div>Keywords: <tag-manager ng-model="settings.keywords" /></div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div>
        Upload directory:<br />
        <input type="text" ng-model="settings.mediaBase" required>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <div>Categories: <tag-manager ng-model="settings.categories" /></div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2">
      <button class="btn" ng-click="save()" ng-disabled="isClean()">Update</button>
    </div>
  </div>

</div>