
-if flash
	.container
		section
			.row
				.span8.columns.offset4
					.alert-message.block-message(class=(flash.kind || 'info'))
						a.close(href="#") &times;
						p
							strong #{flash.title}
							| #{flash.message}
						p !{flash.actions}
