
.album .images .image {
	float: left;
	margin: 5px;
	position: relative;
}

.album .images .image {

}

.album .images .image .controls {
	display: none;
}

.album .images .image.selected .controls {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 25px;
	background-color: #ffffff;
	opacity: 0.8;
}
