form.form-horizontal
	fieldset
		legend Do your changes

		.control-group
			label.control-label(for="title") Title
			.controls
				input#title.input-xlarge(type="text")

		.control-group
			label.control-label(for="tags") Tags
			.controls
				ul#tags

		.control-group
			label.control-label(for="text") Text
			.controls
				textarea#text(style="width: 370px; height: 100px")

		.control-group
			label.control-label(for="images") images
			.controls
				p Images

		.form-actions
			input.btn.btn-ok.btn-primary(type="submit") Save changes
			span
			button.btn.btn-cancel Cancel
