

.row
	.span12
		a(href="#/posts") back

.row
	.span8
		h2 Create post
		
		form.form-horizontal
			fieldset
				legend Fill in your stuff

				.control-group
					label.control-label(for="title") Title
					.controls
						input#title.input-xlarge(type="text")
				
				.control-group
					label.control-label(for="category") Category
					.controls
						select#category
							- for category in categories
								option(value=category.id) #{category.name}

				.control-group
					label.control-label(for="author") Author
					.controls
						input#author.input-xlarge(type="text")

				.control-group
					label.control-label(for="text") Text
					.controls
						textarea#text(style="width: 370px; height: 100px")

				.form-actions
					button.btn.btn-ok.btn-primary(type="submit") Create post
					span
					button.btn.btn-cancel Cancel
