

.row
	.span12
		a(href="#/posts") back

.row
	.span8
		h2 Edit post

		form.form-horizontal
			fieldset
				legend Do your changes

				.control-group
					label.control-label(for="title") Title
					.controls
						input#title.input-xlarge(type="text")

				.control-group
					label.control-label(for="author") Author
					.controls
						input#author.input-xlarge(type="text")

				.control-group
					label.control-label(for="category") Category
					.controls
						select#categorySelect
							- for category in categories
								option(value=category.id) #{category.name}

				.control-group
					label.control-label(for="tags") Tags
					.controls
						ul#tags

				.control-group
					label.control-label(for="text") Text
					.controls
						textarea#text(style="width: 370px; height: 100px")

				.form-actions
					input.btn.btn-ok.btn-primary(type="submit") Save changes
					span
					button.btn.btn-cancel Cancel
