
- if state.editing
		form
			.clearfix
				input.xlarge(value="#{property}" type="text" size="30")
			a.save.btn.primary(href="#") Save
			| #{" "}
			a.cancel.btn.secondary(href="#") Cancel
- else   
	.block.right.hovered
		a.edit(href="#")
			img(src="img/edit-16.png")
	| #{property}
