- import fink.support.TemplateHelper._
- response.setContentType("text/html")

-@ var body: String
-@ var title : String = "Fink admin"

html(lang="en" ng-app="fink-admin")
  head
    meta(charset="utf-8")
    title
      =title

    link(rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="lib/uploadify-3.1.1/uploadify.css")

    link(rel="stylesheet" type="text/css" href="css/site.css")

    script(type="text/javascript" src="lib/underscore/underscore-1.4.4.min.js")
    script(type="text/javascript" src="lib/jquery/jquery-1.7.2.min.js")
    script(type="text/javascript" src="lib/uploadify-3.1.1/jquery.uploadify-3.1.min.js")
    script(type="text/javascript" src="lib/angular/angular.js")
    script(type="text/javascript" src="lib/angular/angular-resource.min.js")
    script(type="text/javascript" src="lib/bootstrap/bootstrap.min.js")
    script(type="text/javascript" src="lib/bootbox/bootbox.js")
    script(type="text/javascript" src="lib/ace/ace.js")

    script(type="text/javascript" src="js/app.js")
    script(type="text/javascript" src="js/services.js")
    script(type="text/javascript" src="js/controllers.js")
    script(type="text/javascript" src="js/filters.js")
    script(type="text/javascript" src="js/directives.js")

  body

    .sidebar
      h4 CONTENT
      ul(class="menu")
      li
        a.posts(href="#/posts") posts
      li
        a.pages(href="#/pages") pages
      li
        a.albums(href="#/galleries") galleries
    .content-wrap
      .header
      .content
        .container(ng-view style="margin: 0;")


