-@ var body: String
-@ var title : String = "sample page"

!!! Basic
html(lang="en")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

		meta(name="description" content="description goes here")
		meta(name="keywords" content="keywords,goes,here")
		meta(name="author" content="Your Name")

		title
			= title
	
	body
		#navigation
			.wrapper
				ul
					li
						a(href={uri("/")}) home
				.clear
		#content
			.wrapper
				!~~ body
		#footer
