-import fink.support.TemplateHelper._

-@ var body: String
-@ var title : String = "Fink"
-@ var classes : String = "layout-2cr"

!!! Basic
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

    meta(name="author" content="Mr Foo")
    meta(name="description" content="this is my blog")
    meta(name="keywords" content="cool,blog")

    link(rel="stylesheet" type="text/css" href={uri("/frontend/site.css")})

    title= title
  
  body(class=classes)
    div#page.hfeed
      header#branding(role="banner" class="clearfix")
        hgroup
          h1#site-title
            span
              a(href={uri("/")} title="Fink" rel="home") Fink

        nav#access(role="navigation")
          h1.section-heading Main menu
          .skip-link.screen-reader-text
            a(href="#content" title="Skip to content") Skip to content
          .menu-primary-container
            ul#menu-primary.menu
              - for (page <- pageRepository.findAll)
                li.menu-item(id={"menu-item-" + page.id} class="menu-item-type-post_type menu-item-object-page")
                  a(href={uri("/page/" + page.shortlink)})= page.title

      #main.clearfix
        #primary
          #content(role="main")
            !~~ body

        #secondary.widget-area(role="complementary")
          aside#archives.widget
            h1.widget-title Archives
            ul
              - for (((year, month, monthName), posts) <- postRepository.byMonth)
                li
                  a(href={uri("/%s/%02d/".format(year, month))} title={"%s %s".format(monthName, year)})= "%s %s".format(monthName, year)

          aside#meta.widget
            h1.widget-title Meta
            ul
              li
                a(href={uri("/admin")}) Log in

      footer#colophon(role="contentinfo")
        #site-generator
          | Powered by
          a(rel="generator" title="Publishing Platform" href="https://github.com/dozed/fink") Fink
          | and
          a(rel="generator" title="Download the Foghorn Theme" href="http://wptheming.com/foghorn/") Foghorn
